[*.lua]

indent_style = tab
tab_width = 4
table_separator_style = none
trailing_table_separator = always
quote_style = double
max_line_length = 120
allow_non_indented_comments = true

[*yml]
indent_style = space
tab_width = 2