name: Busted

on: [push, pull_request, workflow_call]

jobs:
  busted:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup lua
        uses: leafo/gh-actions-lua@v9
        with:
          luaVersion: 5.1

      - name: Setup luarocks
        uses: leafo/gh-actions-luarocks@v4

      - name: Setup dependencies
        run: |
          luarocks install luacov
          luarocks install rxlua
          luarocks install luabitop
          luarocks install busted

      - name: Run Busted
        uses: lunarmodules/busted@v0
        with:
          args: --lpath="__tests/?.lua" -Xoutput --color