name: Package and release

on:
  push:
    tags:
      - '**'

jobs:

  busted:
    uses: ./.github/workflows/busted.yml

  release:
    runs-on: ubuntu-latest
    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_KEY }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Clone project
        uses: actions/checkout@v3

      - name: Create changelog
        # Grabs everything under the top level # header and outputs to a new file
        run: sed -n "3,/^# / {/^# /d; p}" changelog.md > changes.md

      - name: Package and release
        uses: BigWigsMods/packager@v2
        with:
          args: -o
